:root
{
    scroll-behavior: smooth;
    --main-color: #0b0e0b;
    --secondary-color: #28e931;
    --accent-color:#334250;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

*{
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column; 
    min-height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
}


.container{
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
}



/* HEADER */

header h1{
    text-align: center;
    height: 2rem;
    font-size: 2rem;
}
header{
    position: absolute;
    background: var(--accent-color);
    backdrop-filter: blur(25px);
    width: 100%;
    height: 5rem;

}

/* MAIN */
main{
    height: 100%;
    margin: 0 20px;
}

#hero{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#help{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#hero img{
    height: 400px;
    width: 100%;
    object-fit:cover;
}

#help img{
    height: 400px;
    width: 100%;
    object-fit:cover;
}

#hero a{
    width: 100%;
    text-align: center;
    color: white;
    font-size: 3rem;
    transform: translate(0,-600%);
    background-color: rgba(147, 102, 18, 0.092);

}
#hero p, #help p{
    font-size: 2rem;
    padding: 20px 0;
    width: 20ch;
}

b{
    color: var(--secondary-color);
}



section#help form{
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    margin: 10px;
    gap:5px;

}


input{
    /* background-color: var(--accent-color); */
    background-color: transparent;
    color: white;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 10px;
}
#hero button{
    background-color: transparent;
    color: white;
    border-radius: 20px;
    padding: 5px;
    align-self: flex-start;
    width: 200px;
}
#help button{
    background-color: transparent;
    color: white;
    border-radius: 20px;
    padding: 5px;
    align-self: flex-start;
    width: 200px;
}

button:active{
    background-color: var(--secondary-color);
}


.navigation-buttons img{
    max-width: 4rem;
    max-height: 4rem;
    display: block;
    margin: 5px;
    filter: brightness(0) invert(1);
}
.navigation-buttons img:hover{
    max-width: 4rem;
    max-height: 4rem;
    display: block;
    margin: 5px;
    transform: scale(1.1);
}
.navigation-buttons{
    display: block;
    position: fixed;
    right: 0;
    top: 75%;
}


@media (min-width:712px) {
    main{
        height: 100%;
        padding: 0 200px;
        margin: 0 20px;
    }
    #hero p, #help p{
        font-size: 2rem;
        padding: 20px 0;
        width: 40ch;
    }

}